@font-face {
    font-family: greatest;

    src: url(../font/GOTHAM-LIGHT.TTF);
}

@font-face {
    font-family: greatests;

    src: url(../font/GOTHAM-BOLD.TTF);
}

.download-text {
    padding-top: 25px;

    font: 14.90px greatests;

    color: #3b3e59;
}
.btn-download {
    padding: 11px;

    font: 11.4px greatests;

    cursor: pointer;
}


.download-box {
    padding-bottom: 70px;
}
.playstore-img {
    max-height: 50px;

    cursor: pointer;
}

.link-cursor {
    cursor: pointer;
}
