@font-face {
  font-family: greatest;

  src: url(../font/GOTHAM-LIGHT.TTF);
}

@font-face {
  font-family: greatests;

  src: url(../font/GOTHAM-BOLD.TTF);
}

.main-background {
  padding-bottom: 40px;
}
.jumbo2 {
  color: black;
  background-color: #f3fafb;
  /* background-image: url(../images/howitworks2.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbo2,
.text-1 {
  padding-top: 45px;
  padding-bottom: 45px;

  font: 18px greatests;

  color: #199ab1;
}

.youtube-icon {
  padding-top: 17px;
}

.img-padding {
  padding-top: 30px;
}

.text-phone {
  font: 18px greatest;
}

.row-3 {
  padding-top: 40px;
}

@media only screen and (max-width: 780px) {
  .text-phone {
    margin-top: 10px;
    margin-right: 28px;
    margin-left: 28px;

    font: 17px greatest;

    color: #199ab1;
  }
  .jumbo2 {
    color: black;
    background-color: #f4fafb;
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .subtitle2 {
    margin-right: 33px;
    margin-left: 33px;

    line-height: 180%;
  }
  .base-home-saving {
    padding: 40px;
  }
  .youtube-icon {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.ytb-icon {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.ytb-icon:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(-1, -1);
}

/* Modal-react */

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;

  width: 100%;
  height: 100%;

  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  animation-name: modal-video;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-video-effect-leave {
  opacity: 0;
}
.modal-video-effect-leave .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
.modal-video-body {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}
.modal-video-inner {
  display: table-cell;
  width: 100%;
  height: 100%;

  vertical-align: middle;
}
.modal-video-movie-wrap {
  position: relative;

  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  animation-name: modal-video-inner;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  background-color: #333;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
.modal-video-close-btn {
  position: absolute;
  top: -35px;
  right: -35px;
  z-index: 2;

  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;

  border: none;
  background: transparent;
}
.modal-video-close-btn:before {
  transform: rotate(45deg);
}
.modal-video-close-btn:after {
  transform: rotate(-45deg);
}
.modal-video-close-btn:before,
.modal-video-close-btn:after {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 2px;
  margin-top: -1px;
  margin-top: -6px;

  content: "";

  border-radius: 5px;
  background: #fff;
}
