.jumbo-dev {
    color: black;
    background-color: #f3fafb;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dev-img-one {
    height: 146px;
}

.dev-text-parent {
    font: 36px greatest;

    color: #199ab1;
}
.dev-text-child {
    font: 16px greatest;

    color: #3b3e59;
}
@media only screen and (max-width : 768px) {
    .dev-img-one {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
    .jumboDev {
        height: 100vh;
    }

    .dev-img-one {
        height: 156px;
        padding: 30px;
    }

    .dev-text-parent {
        font: 24px greatest-medium;

        color: #199ab1;
    }
    .dev-text-child {
        font: 12px greatest;

        color: #3b3e59;
    }
}

@media (orientation: landscape) {
    .dev-text-parent {
        padding-top: 30px;
    }
}

/*coming soon*/
.soon-img22 {
    width: 100%;
    height: auto;
    padding-top: 80px;
    margin-left: 150px;
}

.soon-img2 {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.soon-contain {
    height: 100vh;
}

.title__coming__soon {
    font: 36px greatest;

    color: #ff007a;
}
.subtitle__coming__soon {
    font: 14.90px greatest;
    line-height: 200%;

    color: #3b3e59;
}
.subtitle__bold {
    font: 14.90px greatests;
}
