.term-img-show2 {
    display: none;
}

@media only screen and (max-width : 768px) {
    .term-img-phone {
        display: none;
    }

    .term-img-show2 {
        display: block;
    }


    .term-img-show {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .hide-on-small {
        display: none;
    }
}
.jumbo-partner {
    background: #f3fafb;
}

/*coming soon*/
.soon-img {
    width: 150%;
    height: auto;
}
.soon-img2 {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.soon-contain {
    height: 100vh;
}

.title__coming__soon {
    font: 36px greatest;

    color: #ff007a;
}
.subtitle__coming__soon {
    font: 14.90px greatest;
    line-height: 200%;

    color: #3b3e59;
}
.subtitle__bold {
    font-weight: bold;
}
